.top-nav-bar {
  border-bottom: 2px solid black;
  background-color: #f1f1f1;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
}

.top-nav-buttons {
  align-items: right;
  justify-content: flex-end;
}

.side-nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    border-right: 2px solid black;
    align-items: center;
}

.content-div {
  margin-left: 26%;
  margin-top: 15%;
}

li {
  padding-bottom: 50px;
  margin: auto;
}

.question-detail {
  border: 1px solid black;
  margin-bottom: 15%;
  padding: 10px;
}

.question-answers {
  border: 1px solid black;
}

.answers-header {
  padding-left: 10px;
}
