* {
  font-family: 'Lexend', sans-serif;
}

.top-nav-bar {
  border-bottom: 2px solid black;
  background-color: #0FC4A0;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  /* align-items: right; */
  justify-content: flex-end;
}

.logo {
  margin-right: 875px;
  text-align: left;
  color: #FFFFFF;
}

.top-nav-buttons {
  margin-top: 6px;
  margin-right: 15px;
}

.side-nav-bar {
    list-style-type: none;
    margin: 0;
    padding-left: 48px;
    padding-top: 14px;
    width: 175px;
    background-color: #0FC4A0;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    border-right: 2px solid black;
    border-top: 2px solid #0FC4A0;
    align-items: center;
    top: 56px;
}

ul {
  list-style-type: none; /* Remove bullets */
}

p {
  color: #1d1160;
  font-family: 'Lexend', sans-serif;
}

li {
  list-style-type: none;
  padding-bottom: 50px;
  /* margin: auto; */
}

.question {
  width: 600px;
  margin: 0;
  border: 2px solid black;
  padding: 9px;
}

.questionfeed-header {
  margin-left: 200px;
  margin-top: 100px;
  padding-bottom: 20px;
}

.question-feed-wrapper {
  margin-left: 200px;
  margin-top: 25px;
}

.question-question-title {
  margin-left: 10px;
}

.question-question-asked-by {
  font-size: 14px;
  text-align: right;
  margin-right: 10px;
}

.question-date-created {
  font-size: 12px;
  text-align: right;
  margin-right: 10px;
}

.question-answers-length {
  margin-left: 10px;
}

.question-detail {
  border: 1px solid black;
  margin-bottom: 15%;
  padding: 10px;
}

.answers-header {
  padding-left: 10px;
}

.user-profile-divider {
  margin-bottom: 50px;
  margin-top: 20px;
}

.user-profile-top {
  margin-bottom: 50px;
}

.user-profile-questions-asked {
  margin-top: 50px;
  margin-bottom: 20px; 
}

.li-user-questions {
  padding-bottom: 20px;
  
}

.h3-answers {
  margin-top: 40px;
  margin-bottom: 20px;
}

.askquestion-wrapper {
  margin-left: 250px;
  margin-top: 100px;
  width: 615px;
}

input#question-title {
  margin-top: 15px;
  margin-bottom: 8px;
  width: 450px;
}

textarea#question-body {
  width: 600px;
  height: 300px;

}

.question-detail-container {
  margin-top: 125px;
  margin-left: 250px;
}

.question-detail {
  width: 600px;
  border: 2px solid black;
  margin-bottom: 50px;
  margin-left: 25px;
}

.question-body {
  font-size: 15px;
}

.asked-by {
  font-size: 13px;
}

.date-created {
  font-size: 12px;
}

textarea#answer-body {
  width: 400px;
  height: 100px;
  margin-left: 25px;
}

.question-answers {
  margin-top: 30px;

}

.answerquestion-submit-button {
  margin-left: 25px;
}

.answer {
  border: 2px solid #D0D0D0;
  width: 600px;
  height: 275px;
  margin-top: 10px;
}

.answer-body {
  margin-left: 15px;
  margin-top: 13px;
  margin-bottom: 75px;
}

.answerer {
  margin-right: 15px;
  text-align: right;
  margin-top: 8px;
  font-size: 13px;

}

.likes-text {
  text-align: right;
  margin-right: 15px;
  font-size: 14px;
}

.like-button {
  margin-left: 15px;
  
}


.feed-header {
  margin-bottom: 35px;
}

.userfeed-wrap {
  margin-left: 0;
}

.userfeed-header {
  padding-bottom: 20px;
  margin-top: 100px;
  margin-left: 250px;
  margin-bottom: 30px;
  font-size: 65px;

}

.username-header {
  color: #1d1160;
  font-size: 50px;
  color:  #1d1160;
}

.user-cards {
  width: 600px;
  border: 4px outset #00788c;
  /* border-radius: 15px; */
  padding: 9px;
  margin-left: 250px;
}

.App {
  /* background: #e9e8e8; */
}

.user-profile {
  margin-left: 250px;
  margin-top: 100px;
}

.userDetail-answer-box {
  border: 1px solid black;
  width: 600px;
}

.userDetail-answer {
  padding-bottom: 10px;
  margin-left: 14px;
  padding-top: 10px;
}

.userDetail-answer-question {
  font-size: 12px;
  margin-left: 35px;
}